
  
  .text, .symbol {
    display: flex; 
    text-decoration: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    color: ivory;
    font-family: 'Times New Roman', Arial, sans-serif;
  }
  .circle:hover .text .symbol {
    display: flex; /* Show the text when hovering over the circle */
    cursor: pointer; /* Change the cursor to indicate it's clickable */
  }
  
  a.text:hover {
    color: #335a9e; /* Change text color on hover */
    text-decoration: none; /* Ensure no underline */
  }
  
  a.symbol:hover {
    opacity: 0.75;
  }
  
  .nav-cont {
    position: relative; 
    transform: scale(0.75); 
    width: 695px;
    height: 350px;
    transform-origin: center;
    top: -25px;
    left: -65px;
  }
  
  .rectangle {
    border-radius: 5px;
  }
  
  #circle1 {
    width: 100px;
    height: 100px;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    background: linear-gradient(135deg, #d7e1f2 20%, rgb(157.2641509434, 181.6981132075, 223.2358490566) 90%);
    box-shadow: 0 0 4vmin 0 rgba(30, 80, 150, 0.75) inset;
    position: absolute;
  }
  
 
  #top1 {
    height: 50px;
    width: 100px;
    top: 100px;
    left: 0px;
    position: absolute;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    background: linear-gradient(150deg, #335a9e 30%, rgb(157.2641509434, 181.6981132075, 223.2358490566) 90%);
    box-shadow: 0 0 3vmin 0 rgba(0, 50, 150, 0.75) inset;
  }
  
  #rectangle1 {
    width: 50px;
    height: 200px;
    top: 150px;
    left: 50px;
    position: absolute;
    background: linear-gradient(90deg, #335a9e 20%, rgb(138.0188679245, 167.2641509434, 216.9811320755) 60%);
    box-shadow: 0 0 12vmin 0 rgba(0, 50, 150, 0.75) inset;
    position: absolute;
  }
  
  #rectangle2 {
    width: 170px;
    height: 50px;
    background: darkblue;
    left: 100px;
    top: 100px;
    position: absolute;
    background: linear-gradient(150deg, #335a9e 20%, rgb(138.0188679245, 167.2641509434, 216.9811320755) 90%);
    box-shadow: 0 0 3vmin 0 rgba(0, 50, 150, 0.75) inset;
  }
  
  #rectangle3 {
    width: 50px;
    height: 125px;
    top: 150px;
    left: 100px;
    position: absolute;
    background: linear-gradient(-90deg, #d7e1f2 50%, rgb(176.5094339623, 196.1320754717, 229.4905660377) 85%);
    box-shadow: 0 0 4vmin 0 rgba(30, 80, 150, 0.75) inset;
  }
  
  #circle2 {
    z-index: 2;
    width: 100px;
    height: 100px;
    top: 160px;
    left: 150px;
    border-radius: 50%;
    background: linear-gradient(45deg, #335a9e 20%, rgb(118.7735849057, 152.8301886792, 210.7264150943) 90%);
    box-shadow: 0 0 4vmin 0 rgba(0, 50, 150, 0.75) inset;
    position: absolute;
  }
  
  #rectangle4 {
    width: 170px;
    height: 75px;
    top: 275px;
    left: 100px;
    position: absolute;
    background: linear-gradient(160deg, #d7e1f2 50%, rgb(176.5094339623, 196.1320754717, 229.4905660377) 85%);
    box-shadow: 0 0 5vmin 0 rgba(30, 80, 150, 0.75) inset;
    
  }
  
  
  
  #rectangle5 {
    width: 50px;
    height: 200px;
    top: 150px;
    left: 270px;
    position: absolute;
    background: linear-gradient(90deg, #335a9e 20%, rgb(138.0188679245, 167.2641509434, 216.9811320755) 60%);
    box-shadow: 0 0 8vmin 0 rgba(0, 50, 150, 0.75) inset;
  }
  
  #top2 {
    height: 50px;
    width: 100px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    left: 270px;
    top: 100px;
    position: absolute;
    background: linear-gradient(150deg, #d7e1f2 40%, rgb(157.2641509434, 181.6981132075, 223.2358490566) 90%);
    box-shadow: 0 0 4vmin 0 rgba(30, 80, 150, 0.75) inset;
  }
  
  #rectangle6 {
    width: 50px;
    height: 200px;
    top: 150px;
    left: 320px;
    position: absolute;
    background: linear-gradient(-90deg, #d7e1f2 50%, rgb(176.5094339623, 196.1320754717, 229.4905660377) 85%);
    box-shadow: 0 0 4vmin 0 rgba(30, 80, 150, 0.75) inset;
  }
  
  #rectangle7 {
    width: 75px;
    height: 50px;
    left: 370px;
    top: 300px;
    position: absolute;
    background: linear-gradient(160deg, #d7e1f2 50%, rgb(176.5094339623, 196.1320754717, 229.4905660377) 85%);
    box-shadow: 0 0 5vmin 0 rgba(30, 80, 150, 0.75) inset;
  }
  
  #rectangle8 {
    width: 75px;
    height: 200px;
    left: 370px;
    top: 100px;
    position: absolute;
    background: linear-gradient(90deg, #335a9e 20%, rgb(138.0188679245, 167.2641509434, 216.9811320755) 60%);
    box-shadow: 0 0 12vmin 0 rgba(0, 50, 150, 0.75) inset;
  }
  
  #circle3 {
    width: 100px;
    height: 100px;
    background: darkblue;
    border-radius: 50%;
    top: 0px;
    left: 356px;
    position: absolute;
    background: linear-gradient(45deg, #335a9e 20%, rgb(118.7735849057, 152.8301886792, 210.7264150943) 90%);
    box-shadow: 0 0 4vmin 0 rgba(0, 50, 150, 0.75) inset;
    
  }
  

  #rectangle9 {
    width: 150px;
    height: 50px;
    background: lightblue;
    left: 445px;
    top: 100px;
    position: absolute;
    background: linear-gradient(-45deg, #d7e1f2 50%, rgb(176.5094339623, 196.1320754717, 229.4905660377) 85%);
    box-shadow: 0 0 4vmin 0 rgba(30, 80, 150, 0.75) inset;
  }
  
 
  
  #rectangle10 {
    width: 50px;
    height: 200px;
    background: darkblue;
    left: 495px;
    top: 150px;
    position: absolute;
    background: linear-gradient(90deg, #335a9e 20%, rgb(138.0188679245, 167.2641509434, 216.9811320755) 60%);
    box-shadow: 0 0 12vmin 0 rgba(0, 50, 150, 0.75) inset;
  }
  
  #rectangle11 {
    width: 100px;
    height: 50px;
    background: lightblue;
    left: 545px;
    top: 150px;
    position: absolute;
    background: linear-gradient(-30deg, #d7e1f2 50%, rgb(176.5094339623, 196.1320754717, 229.4905660377) 85%);
    box-shadow: 0 0 4vmin 0 rgba(30, 80, 150, 0.75) inset;
  }
  
  #circle4 {
    width: 100px;
    height: 100px;
    background: lightblue;
    border-radius: 50%;
    top: 250px;
    left: 545px;
    position: absolute;
    background: linear-gradient(135deg, #d7e1f2 20%, rgb(157.2641509434, 181.6981132075, 223.2358490566) 90%);
    box-shadow: 0 0 4vmin 0 rgba(30, 80, 150, 0.75) inset;
  }
  
  #rectangle12 {
    width: 50px;
    height: 150px;
    background: darkblue;
    left: 645px;
    top: 200px;
    position: absolute;
    background: linear-gradient(90deg, #335a9e 20%, rgb(138.0188679245, 167.2641509434, 216.9811320755) 60%);
    box-shadow: 0 0 12vmin 0 rgba(0, 50, 150, 0.75) inset;
  }
  
 