
 :root {
    --clr-primary: #5b85d9;
    --clr-gradient: #b4c0e2;
    --clr-background: #f5d263;
    --clr-hover:#7b9de0;
    --clr-white: #fdf6e4; 
    --clr-black: #0A0A0A;

    --drop-shadow: 0 4px 10px 0 rgba(0,0,0,0.5);

}

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}


body {
    background-color: var(--clr-background);
    height: 100vh;
}

main {
    position: relative;
    width: calc(100vw - 500px);
    height: 100vh;
    left:500px;
    background-color: var(--clr-background);
}

main #center {
    float: left;
    width: 60%;
    height: 100%;
    background-color: var(--clr-background);
    position: relative;
}

main #side {
    position: relative;
    float: right;
    width: 35%;
    height: 100%;
    background-color: var(--clr-background);
}


 main #left_logo {
    position: fixed;
    top: 40px;
    left: 80px;
    height: 100vh;
    width: auto;
  
 }

h1 {
    color: var(--clr-primary);
    font-size: 100px;
    font-weight: 600;
    font-style: normal;
}

h2 {
    color: var(--clr-primary);
    font-size: 80px;
    font-weight: 300;
    font-style: normal;
}

h3 {
    color: var(--clr-black);
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
    padding-top: 25px;
}


h4 {
    color: var(--clr-primary);
    font-size: 60px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0px;
}


p1 {
    font-size: 24px;
    font-weight: 600;
}
  
.button {
    background-color: var(--clr-primary);
    color: var(--clr-white);
    padding: 14px 20px;
    margin-top: 50px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    width: 250px;
    border-radius: 15px;
    font-weight: 600;
    letter-spacing: 0.15rem;
}
 

button:hover {
    background-color: var(--clr-hover);
    color: var(--clr-black);
}


