
/* @import url(variables.css); */



.form-box {
    position: relative;
    width: 70%;
    height: 700px;
    margin-top: calc(50vh - 350px);
    background-color: var(--clr-gradient);
    border-radius: 20px;
    padding: 50px;
} 

.type-labeled input[type=text], .type-labeled input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
    
}

.type-labeled input::placeholder {
    font-style: italic;
    font-size: 14px;
}

.button-container {
    display: flex;
    align-items: center; 
}

button {
    background-color: var(--clr-primary);
    color: var(--clr-white);
    padding: 14px 20px;
    margin-top: 50px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    width: 250px;
    border-radius: 15px;
    font-weight: 600;
    letter-spacing: 0.15rem;
}

    

.signup-container, .login-container {
    text-align: center;
    margin-top: 70px;
}

.signup-link {
    color: var(--clr-primary);
    text-decoration: none;
    cursor: pointer;
}

.error-message {
    color: red;
    margin-top: 16px;
}

placeholder {
    font-style: italic;
}

#signUpForm {
    /* opacity: 0.5; */
    /* pointer-events: none; */
    /* background-color: #e0e0e0; */  /* Grey out the form */
    padding: 10px;
}

.password-rules {
    font-size: 14px;
    margin-top: 10px;
}

.password-rules p {
    margin: 5px 0;
}