/* @import url(variables.css);
 */
 :root {
    --clr-primary: #5b85d9;
    --clr-gradient: #b4c0e2;
    --clr-background: #f5d263;
    --clr-hover:#7b9de0;
    --clr-white: #fdf6e4; 
    --clr-black: #0A0A0A;

    --drop-shadow: 0 4px 10px 0 rgba(0,0,0,0.5);

}

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}


body {
    background-color: var(--clr-background);
    height: 100vh;
}

main {
    position: relative;
    width: calc(100vw - 500px);
    height: 100vh;
    left:500px;
    background-color: var(--clr-background);
}

main #center {
    float: left;
    width: 60%;
    height: 100%;
    background-color: var(--clr-background);
    /* padding: 16px; */
    position: relative;
    /* overflow-y:auto */
}

main #side {
    position: relative;
    float: right;
    width: 35%;
    /* padding-left: 16px; */
    height: 100%;
    background-color: var(--clr-background);
}


 main #left_logo {
    position: fixed;
    top: 40px;
    left: 80px;
    height: 100vh;
    width: auto;
  
 }

h1 {
    color: var(--clr-primary);
    font-size: 100px;
    font-weight: 600;
    font-style: normal;
}

h2 {
    color: var(--clr-primary);
    font-size: 80px;
    font-weight: 300;
    font-style: normal;
}

h3 {
    color: var(--clr-black);
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
    padding-top: 25px;
}


h4 {
    color: var(--clr-primary);
    font-size: 60px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0px;
}


p1 {
    font-size: 24px;
    font-weight: 600;
}
  
 

.logo-ctn {
    position: absolute;
    width: 1280px;
    height: 100%;
    left: 80px;
}

.welcome-container {
    position: absolute;
    right: 60%;
    top: 30%;
    width: calc(100vh - 50%);
    height: calc(100vh - 50%);
    z-index: 9;
} 


.logo-type {
    line-height: 1;
    text-align: left;
    position: absolute;
    padding: 20px;
    width: 900px;
    z-index: 10;
}

.fact-or-fake { 
    letter-spacing: .15rem;
    padding-top: 0;
}

.btn-container {
    margin-top: 50px;
    display: flex;
    justify-content: left;
    }

.btn {
    font-size: 32px;
    font-weight: 500;
    padding: 10px 32px;
    text-align: center;
    color: var(--clr-white);
    background-color: #5B85D9;
    border: 2px solid #5B85D9;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

button:hover {
    background-color: var(--clr-hover);
    color: var(--clr-black);
}


/* === Style for Leaderboard === */

table {
    border-spacing: 0;
    width: 100%;
    /* border: 1px solid #ddd;
    background-color: white; */
    border-radius: 10px;
    overflow: hidden;
  }
  
th, td {
    text-align: center;
    padding: 16px;
    /* background-color: var(--clr-gradient); */
    border: 1px solid #ddd;
    border-radius: 4px; /* Add border radius */
    
  }

th {
    background-color: var(--clr-primary);
}


tr:nth-child(odd) {
    background-color: var(--clr-gradient); 
}

tr:nth-child(even) {
    background-color: var(--clr-white); 
}




